*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# After bootstrapping this has regions
cdk.context.json

### CDK-specific ignores ###
*.swp
cdk.context.json
package-lock.json
yarn.lock
